In [10]:
import pandas as pd

In [25]:
# read and analyse csv file
# check for null - none found
CAT_TOTAL= pd.read_csv(".\datasets\Total_cat_origin.csv")
CAT_TOTAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 17 columns):
Month/year           36 non-null object
Total                36 non-null float64
Germany              36 non-null float64
Belgium              36 non-null float64
France               36 non-null float64
Ireland              36 non-null object
Italy                36 non-null float64
Netherlands          36 non-null float64
Nordic countries     36 non-null float64
Portugal             36 non-null object
United Kingdom       36 non-null float64
Russia               36 non-null float64
Switzerland          36 non-null float64
Rest of EU           36 non-null float64
United States        36 non-null float64
Rest of America      36 non-null float64
Rest of the world    36 non-null float64
dtypes: float64(14), object(3)
memory usage: 4.9+ KB

In [24]:
#rename columns 
CAT_TOTAL.columns 
CAT_TOTAL.rename(columns = {"Nordic countries": "Nordic", "United Kingdom":"UK", "Rest of EU":"Rest_EU", "United States":"US", 
                           "Rest of America":"ROA", "Rest of the world":"ROW"})
CAT_TOTAL.head()

,Month/year,Total,Germany,Belgium,France,Ireland,Italy,Netherlands,Nordic countries,Portugal,United Kingdom,Russia,Switzerland,Rest of EU,United States,Rest of America,Rest of the world
0,12/2018 (p),977.2,58.6,14.6,199.0,11.9,100.6,21.9,23.5,0,92.7,24.9,14.7,118.1,62.1,57.7,169.0
1,11/2018 (p),1040.7,71.3,23.9,193.9,8.9,76.0,26.2,33.5,9.4,92.5,27.2,22.9,124.6,80.2,65.2,184.8
2,10/2018 (p),1655.6,129.4,22.3,311.1,29,94.1,69.9,75.5,0,184.3,49.0,12.0,218.2,148.0,91.8,211.1
3,09/2018 (p),2005.3,162.9,41.8,343.0,33.4,117.2,66.5,54.1,35,258.5,108.4,21.7,262.2,131.9,125.6,243.2
4,08/2018 (p),2439.0,186.7,57.6,755.5,45.1,160.9,118.6,66.7,17.4,278.0,107.4,22.1,240.6,103.8,97.6,180.8

In [27]:
# change type of month/year to date
# remove (p)


ufo_table[ufo_table["date_error"]==True]
ufo_table["datetime_corrected"] = ufo_table["datetime"].appply(lambda x = x.replace("24:", "00:"))
CAT_TOTAL["Month/year"] = CAT_TOTAL["Month/year"].appply(lambda x = x.replace("(p)", ""))
CAT_TOTAL.astype({"Month/year":"datetime64[ns]"})

SyntaxError: invalid syntax (<ipython-input-27-9fdfcaab9223>, line 3)