In [26]:
import pandas as pd

In [27]:
# read and analyse csv file
# check for null - none found
BCN_2017= pd.read_excel(".\datasets\BCN_2017.xlsx")
BCN_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 6 columns):
Country               603 non-null object
Unnamed: 1            0 non-null float64
Unnamed: 2            0 non-null float64
Unnamed: 3            0 non-null float64
Number of visitors    603 non-null object
Month                 603 non-null object
dtypes: float64(3), object(3)
memory usage: 28.3+ KB

In [28]:
BCN_2017

,Country,Unnamed: 1,Unnamed: 2,Unnamed: 3,Number of visitors,Month
0,Alemanya,NaN,NaN,NaN,23374,January
1,Àustria,NaN,NaN,NaN,2967,January
2,Bèlgica,NaN,NaN,NaN,7922,January
3,Bulgària,NaN,NaN,NaN,655,January
4,Xipre,NaN,NaN,NaN,668,January
5,Croàcia,NaN,NaN,NaN,345,January
6,Dinamarca,NaN,NaN,NaN,3542,January
7,Eslovàquia,NaN,NaN,NaN,285,January
8,Eslovènia,NaN,NaN,NaN,291,January
9,Estònia,NaN,NaN,NaN,273,January
10,Finlàndia,NaN,NaN,NaN,2779,January
11,França,NaN,NaN,NaN,44105,January
12,Grècia,NaN,NaN,NaN,2513,January
13,Hongria,NaN,NaN,NaN,976,January
14,Irlanda,NaN,NaN,NaN,4871,January
15,Itàlia,NaN,NaN,NaN,37248,January
16,Letònia,NaN,NaN,NaN,499,January
17,Lituània,NaN,NaN,NaN,548,January
18,Luxemburg,NaN,NaN,NaN,331,January
19,Malta,NaN,NaN,NaN,279,January
20,Països Baixos,NaN,NaN,NaN,12108,January
21,Polònia,NaN,NaN,NaN,5045,January
22,Portugal,NaN,NaN,NaN,6595,January
23,Regne Unit,NaN,NaN,NaN,35496,January
24,Republica Checa,NaN,NaN,NaN,1091,January
25,Romania,NaN,NaN,NaN,2201,January
26,Suècia,NaN,NaN,NaN,4734,January
27,Resta Unió Europea,NaN,NaN,NaN,3366,January
28,Islàndia,NaN,NaN,NaN,204,January
29,Liechtenstein,NaN,NaN,NaN,86,January
...,...,...,...,...,...,...
573,Països Baixos,NaN,NaN,NaN,9419,December
574,Polònia,NaN,NaN,NaN,3885,December
575,Portugal,NaN,NaN,NaN,7188,December
576,Regne Unit,NaN,NaN,NaN,31344,December
577,Republica Checa,NaN,NaN,NaN,1184,December
578,Romania,NaN,NaN,NaN,1592,December
579,Suècia,NaN,NaN,NaN,5136,December
580,Resta Unió Europea,NaN,NaN,NaN,2851,December
581,Islàndia,NaN,NaN,NaN,229,December
582,Liechtenstein,NaN,NaN,NaN,21,December
583,Noruega,NaN,NaN,NaN,2573,December
584,Rússia,NaN,NaN,NaN,8664,December
585,Suïssa,NaN,NaN,NaN,6574,December
586,Turquia,NaN,NaN,NaN,2396,December
587,Ucraïna,NaN,NaN,NaN,1078,December
588,Resta d'Europa,NaN,NaN,NaN,6301,December
589,Argentina,NaN,NaN,NaN,4071,December
590,Brasil,NaN,NaN,NaN,6435,December
591,Canada,NaN,NaN,NaN,2745,December
592,Estats Units,NaN,NaN,NaN,29911,December
593,Mèxic,NaN,NaN,NaN,2741,December
594,Resta d'Amèrica,NaN,NaN,NaN,13633,December
595,Sudàfrica,NaN,NaN,NaN,819,December
596,Resta d'Àfrica,NaN,NaN,NaN,9081,December
597,Japó,NaN,NaN,NaN,9617,December
598,Xina,NaN,NaN,NaN,7812,December
599,Corea Del Sud,NaN,NaN,NaN,3587,December
600,Resta d'Àsia,NaN,NaN,NaN,22383,December
601,Austràlia,NaN,NaN,NaN,3736,December
602,Resta del món,NaN,NaN,NaN,18296,December

#### new name for number of visitors

In [29]:
BCN_2017= BCN_2017.rename(columns = {"Number of visitors": "Number"})

#### deleting empty columns

In [30]:
BCN_2017 = BCN_2017.drop(["Unnamed: 1", "Unnamed: 2", "Unnamed: 3"], axis=1)

#### changing number of visitors to float

In [31]:
BCN_2017 = BCN_2017.astype({"Number": float})

In [16]:
BCN_2017.head()
BCN_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 3 columns):
Country    636 non-null object
Number     636 non-null float64
Month      636 non-null object
dtypes: float64(1), object(2)
memory usage: 15.0+ KB

In [32]:
BCN_2017.to_csv("BCN_2017_CLEAN.csv")

## import to database

In [33]:
from sqlalchemy import create_engine
import pymysql

In [34]:
driver = "mysql+pymysql"
user = "root"
password = "Ir0nhack"
ip = "35.192.169.188"
database = "Project_2"

In [35]:
connection_string = f"{driver}://{user}:{password}@{ip}/{database}"

In [36]:
engine = create_engine(connection_string)

In [37]:
BCN_2017.to_sql("BCN_2017", engine)