In [20]:
import pandas as pd

In [21]:
# read and analyse csv file
# check for null - none found
BCN_2016= pd.read_excel(".\datasets\BCN_2016.xlsx")
BCN_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 3 columns):
Country    636 non-null object
Number     636 non-null object
Month      636 non-null object
dtypes: object(3)
memory usage: 15.0+ KB

In [22]:
BCN_2016

                                 Country    Number     Month
0         Nombre de viatgers              436044     January
1             residents a Espanya         118814     January
2         residents a l'estranger         317230     January
3                             Alemanya     21369     January
4                              Àustria      2881     January
5                              Bèlgica      5932     January
6                             Bulgària       683     January
7                                Xipre       291     January
8                              Croàcia       438     January
9                            Dinamarca      2696     January
10                          Eslovàquia       531     January
11                           Eslovènia       406     January
12                             Estònia       278     January
13                           Finlàndia      2824     January
14                              França     37162     January
15                              Grècia      1644     January
16                             Hongria      1277     January
17                             Irlanda      5095     January
18                              Itàlia     31652     January
19                             Letònia       222     January
20                            Lituània       443     January
21                           Luxemburg       223     January
22                               Malta        99     January
23                       Països Baixos      8550     January
24                             Polònia      4337     January
25                            Portugal      5313     January
26                          Regne Unit     32935     January
27                     Republica Checa      1124     January
28                             Romania      1179     January
29                              Suècia      4492     January
..                                   ...       ...       ...
606                      Països Baixos      8477    December
607                            Polònia      3672    December
608                           Portugal      7608    December
609                         Regne Unit     33549    December
610                    Republica Checa       963    December
611                            Romania      2132    December
612                             Suècia      3820    December
613                 Resta Unió Europea      2857    December
614                           Islàndia       234    December
615                      Liechtenstein       101    December
616                            Noruega      2801    December
617                             Rússia      7636    December
618                             Suïssa      8596    December
619                            Turquia      2197    December
620                            Ucraïna      1159    December
621                     Resta d'Europa      7367    December
622                          Argentina      4042    December
623                             Brasil      5978    December
624                             Canada      3643    December
625                       Estats Units     29024    December
626                              Mèxic      2692    December
627                   Resta d'Amèrica      11218    December
628                          Sudàfrica       856    December
629                     Resta d'Àfrica     10521    December
630                               Japó     11539    December
631                               Xina      9833    December
632                      Corea Del Sud      3746    December
633                       Resta d'Àsia     20534    December
634                          Austràlia      3199    December
635                      Resta del món     20482    December

[636 rows x 3 columns]

#### changing number of visitors to float

In [23]:
BCN_2016 = BCN_2016.astype({"Number": float})

In [24]:
BCN_2016.head()
BCN_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 3 columns):
Country    636 non-null object
Number     636 non-null float64
Month      636 non-null object
dtypes: float64(1), object(2)
memory usage: 15.0+ KB

In [25]:
BCN_2016.to_csv("BCN_2016_CLEAN.csv")

## import to database

In [26]:
from sqlalchemy import create_engine
import pymysql

In [27]:
driver = "mysql+pymysql"
user = "root"
password = "Ir0nhack"
ip = "35.192.169.188"
database = "Project_2"

In [28]:
connection_string = f"{driver}://{user}:{password}@{ip}/{database}"

In [29]:
engine = create_engine(connection_string)

In [31]:
BCN_2016.to_sql("BCN_2016", engine)