In [1]:
import pandas as pd

In [80]:
# read and analyse csv file
# check for null - none found
CAT_TOTAL= pd.read_csv(".\datasets\Total_cat_origin.csv")
CAT_TOTAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 17 columns):
Month/year          36 non-null object
Total               36 non-null float64
Alemanya            36 non-null float64
Bèlgica             36 non-null float64
França              36 non-null float64
Irlanda             36 non-null object
Itàlia              36 non-null float64
Països Baixos       36 non-null float64
Nordic countries    36 non-null float64
Portugal            36 non-null object
Regne Unit          36 non-null float64
Rússia              36 non-null float64
Suïssa              36 non-null float64
Resta d'Europa      36 non-null float64
Estats Units        36 non-null float64
Rest d'America      36 non-null float64
Resta del món       36 non-null float64
dtypes: float64(14), object(3)
memory usage: 4.9+ KB

In [81]:
#rename columns 
CAT_TOTAL.columns 

CAT_TOTAL.head()

,Month/year,Total,Alemanya,Bèlgica,França,Irlanda,Itàlia,Països Baixos,Nordic countries,Portugal,Regne Unit,Rússia,Suïssa,Resta d'Europa,Estats Units,Rest d'America,Resta del món
0,12/2018 (p),977.2,58.6,14.6,199.0,11.9,100.6,21.9,23.5,0,92.7,24.9,14.7,118.1,62.1,57.7,169.0
1,11/2018 (p),1040.7,71.3,23.9,193.9,8.9,76.0,26.2,33.5,9.4,92.5,27.2,22.9,124.6,80.2,65.2,184.8
2,10/2018 (p),1655.6,129.4,22.3,311.1,29,94.1,69.9,75.5,0,184.3,49.0,12.0,218.2,148.0,91.8,211.1
3,09/2018 (p),2005.3,162.9,41.8,343.0,33.4,117.2,66.5,54.1,35,258.5,108.4,21.7,262.2,131.9,125.6,243.2
4,08/2018 (p),2439.0,186.7,57.6,755.5,45.1,160.9,118.6,66.7,17.4,278.0,107.4,22.1,240.6,103.8,97.6,180.8

### change type of month/year to date

In [82]:
# remove (p)

CAT_TOTAL["Month/year_error"] = CAT_TOTAL["Month/year"].apply(lambda x: "(p)" in x)
CAT_TOTAL["Month/year"] = CAT_TOTAL["Month/year"].apply(lambda x: x.replace(" (p)", ""))

In [35]:
#CAT_TOTAL.astype({"Month/year":"datetime64[ns]"})
#CAT_TOTAL['Month/year'] = pd.to_datetime(CAT_TOTAL['Month/year'])
 #As type cannot be easily changed, we will just make a sum with the assumption of month containing "18", "17", "16"

### change Ireland and Portugal to float

In [83]:
CAT_TOTAL["Ireland_error"] = CAT_TOTAL["Irlanda"].apply(lambda x: "(*)" in x)
CAT_TOTAL["Irlanda"] = CAT_TOTAL["Irlanda"].apply(lambda x: x.replace("(*)", ""))

# AS argument ".." doen't seem to be recognised, we will subsitute the value of Italy index 21 to 0
    #CAT_TOTAL["Ireland_error2"] = CAT_TOTAL["Ireland"].apply(lambda x: "(..)" in x)
    #CAT_TOTAL["Ireland"] = CAT_TOTAL["Ireland"].apply(lambda x: x.replace("(..)", ""))

CAT_TOTAL["Irlanda"].iloc[21]=int(0)

CAT_TOTAL = CAT_TOTAL.astype({"Irlanda": float})

####  Change portugal to float

In [84]:
#CAT_TOTAL["Ireland"].iloc[21]=int(0)

CAT_TOTAL["Portugal_error"] = CAT_TOTAL["Portugal"].apply(lambda x: "(*)" in x)
CAT_TOTAL["Portugal"] = CAT_TOTAL["Portugal"].apply(lambda x: x.replace("(*)", ""))
CAT_TOTAL = CAT_TOTAL.astype({"Portugal": float})

In [85]:
CAT_TOTAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 20 columns):
Month/year          36 non-null object
Total               36 non-null float64
Alemanya            36 non-null float64
Bèlgica             36 non-null float64
França              36 non-null float64
Irlanda             36 non-null float64
Itàlia              36 non-null float64
Països Baixos       36 non-null float64
Nordic countries    36 non-null float64
Portugal            36 non-null float64
Regne Unit          36 non-null float64
Rússia              36 non-null float64
Suïssa              36 non-null float64
Resta d'Europa      36 non-null float64
Estats Units        36 non-null float64
Rest d'America      36 non-null float64
Resta del món       36 non-null float64
Month/year_error    36 non-null bool
Ireland_error       36 non-null bool
Portugal_error      36 non-null bool
dtypes: bool(3), float64(16), object(1)
memory usage: 5.0+ KB

In [86]:
CAT_TOTAL = CAT_TOTAL.drop(["Month/year_error", "Ireland_error", "Portugal_error"], axis=1)

In [87]:
CAT_TOTAL.to_csv("CAT_TOTAL_CLEAN.csv")

## import to database

In [88]:
from sqlalchemy import create_engine
import pymysql

In [89]:
driver = "mysql+pymysql"
user = "root"
password = "Ir0nhack"
ip = "35.192.169.188"
database = "Project_2"

In [90]:
connection_string = f"{driver}://{user}:{password}@{ip}/{database}"

In [91]:
engine = create_engine(connection_string)

In [95]:
CAT_TOTAL.to_sql("CAT", engine)

In [96]:
CAT_TOTAL.columns

Index(['Month/year', 'Total', 'Alemanya', 'Bèlgica', 'França', 'Irlanda',
       'Itàlia', 'Països Baixos', 'Nordic countries', 'Portugal', 'Regne Unit',
       'Rússia', 'Suïssa', 'Resta d'Europa', 'Estats Units', 'Rest d'America',
       'Resta del món'],
      dtype='object')