In [63]:
import pandas as pd
import numpy as np

## sum total number of tourist per nationality per year
given info - number of tourist per nationaity per month

#### sum the total number of tourists of year

In [35]:
BCN_2018 = pd.read_csv(".\clean_datasets\BCN_2018_CLEAN.csv")
BCN_2018.head()

   Unnamed: 0               Country   Number    Month
0           0            Alemanya    24885.0  January
1           1             Àustria     2705.0  January
2           2             Bèlgica     8075.0  January
3           3            Bulgària      575.0  January
4           4               Xipre      244.0  January

In [36]:
from sqlalchemy import create_engine
import pymysql

In [37]:
driver = "mysql+pymysql"
user = "root"
password = "Ir0nhack"
ip = "35.192.169.188"
database = "Project_2"

In [38]:
connection_string = f"{driver}://{user}:{password}@{ip}/{database}"

In [39]:
engine = create_engine(connection_string)

In [42]:
query = """ SELECT Country, SUM(Number) AS TOTAL
FROM BCN_2018
GROUP BY Country
ORDER BY TOTAL DESC
LIMIT 5
"""

In [41]:
pd.read_sql(query, engine)

                        Country     TOTAL
0                Estats Units    846595.0
1                  Regne Unit    678619.0
2                      França    655510.0
3                      Itàlia    509106.0
4                    Alemanya    425383.0
5                Resta d'Àsia    306296.0
6               Resta del món    297774.0
7            Resta d'Amèrica     238072.0

In [43]:
query = """ SELECT Country, SUM(Number) AS TOTAL
FROM BCN_2018
GROUP BY Country
ORDER BY TOTAL 
LIMIT 5
"""

In [44]:
pd.read_sql(query, engine)

                     Country   TOTAL
0            Liechtenstein    1418.0
1                    Xipre    4336.0
2                  Estònia    4482.0
3                Eslovènia    5094.0
4                    Malta    5197.0

###  CAT total 2018

In [109]:
CAT = pd.read_csv(".\clean_datasets\CAT_TOTAL_CLEAN.csv")
CAT.head()

,Unnamed: 0,Month/year,Total,Germany,Belgium,France,Ireland,Italy,Netherlands,Nordic countries,Portugal,United Kingdom,Russia,Switzerland,Rest of EU,United States,Rest of America,Rest of the world
0,0,12/2018,977.2,58.6,14.6,199.0,11.9,100.6,21.9,23.5,0.0,92.7,24.9,14.7,118.1,62.1,57.7,169.0
1,1,11/2018,1040.7,71.3,23.9,193.9,8.9,76.0,26.2,33.5,9.4,92.5,27.2,22.9,124.6,80.2,65.2,184.8
2,2,10/2018,1655.6,129.4,22.3,311.1,29.0,94.1,69.9,75.5,0.0,184.3,49.0,12.0,218.2,148.0,91.8,211.1
3,3,09/2018,2005.3,162.9,41.8,343.0,33.4,117.2,66.5,54.1,35.0,258.5,108.4,21.7,262.2,131.9,125.6,243.2
4,4,08/2018,2439.0,186.7,57.6,755.5,45.1,160.9,118.6,66.7,17.4,278.0,107.4,22.1,240.6,103.8,97.6,180.8

In [87]:
import re

In [110]:
CAT["Month/year_error"] = CAT["Month/year"].apply(lambda x: "18" in x)
CAT.head()
CAT_2018 = CAT[CAT["Month/year_error"]==True]    


CAT_2018["Month/year_corrected"] = CAT_2018["Month/year"].apply(lambda x = x.replace(r'18^', "18"))


CAT_2018.to_csv("CAT_2018.csv")

SyntaxError: invalid syntax (<ipython-input-110-059bdf2a4d7c>, line 6)

In [77]:
# CAT_2018.to_sql("CAT_2018", engine)

In [118]:
totalg = CAT_2018["Germany"].sum()
print (totalg)

totals =[]
for i in CAT_2018:
    totals.append(int(CAT_2018[i].sum()))
print(totals)

total_values = totals[2:]

counry =

1417.9
[66, '12/2018 11/2018 10/2018 09/2018 08/2018 07/2018 06/2018 May-18Apr-18Mar-18Feb-18Jan-18', 19148.1, 1417.9, 401.7, 4136.7, 310.99999999999994, 1196.7, 736.6, 707.1, 173.3, 2086.7999999999997, 726.6, 246.9, 2255.1, 1359.8000000000002, 1081.6, 2292.2, 12]
[19148.1, 1417.9, 401.7, 4136.7, 310.99999999999994, 1196.7, 736.6, 707.1, 173.3, 2086.7999999999997, 726.6, 246.9, 2255.1, 1359.8000000000002, 1081.6, 2292.2, 12]

In [80]:
CAT_2018.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
Month/year,12/2018,11/2018,10/2018,09/2018,08/2018,07/2018,06/2018,May-18,Apr-18,Mar-18,Feb-18,Jan-18
Total,977.2,1040.7,1655.6,2005.3,2439,2385.7,2090.4,1885.4,1570.9,1217.3,1015.8,864.8
Germany,58.6,71.3,129.4,162.9,186.7,175.1,136.7,154.1,94.4,122.4,85.7,40.6
Belgium,14.6,23.9,22.3,41.8,57.6,67.9,37.7,31.1,38.8,28,20.2,17.8
France,199,193.9,311.1,343,755.5,516,308.1,444.3,405.9,261.7,218.4,179.8
Ireland,11.9,8.9,29,33.4,45.1,53.5,48.4,30.2,19.4,10.7,11.7,8.8
Italy,100.6,76,94.1,117.2,160.9,114.2,100.6,77.8,115.5,79.2,66.7,93.9
Netherlands,21.9,26.2,69.9,66.5,118.6,153.1,67,65.8,55.6,32.4,29.9,29.7
Nordic countries,23.5,33.5,75.5,54.1,66.7,125.3,103.1,84.7,46.9,48,28.1,17.7
Portugal,0,9.4,0,35,17.4,28.1,20.1,16.4,13.9,9.3,17.2,6.5
United Kingdom,92.7,92.5,184.3,258.5,278,221,279.6,211.1,158.6,138.3,97.8,74.4
Russia,24.9,27.2,49,108.4,107.4,119.2,117.2,53.9,40.9,30.5,21.7,26.3
Switzerland,14.7,22.9,12,21.7,22.1,36.3,20.5,22.5,12.5,20.3,19.1,22.3
Rest of EU,118.1,124.6,218.2,262.2,240.6,229.7,275.2,226.8,191.1,141.5,124,103.1
United States,62.1,80.2,148,131.9,103.8,172,211.1,160.9,111.7,79.4,44,54.7
Rest of America,57.7,65.2,91.8,125.6,97.6,116.5,100.7,114.4,92.4,63.5,86.1,70.1
Rest of the world,169,184.8,211.1,243.2,180.8,257.9,264.4,191.3,173.5,152,145.1,119.1
Month/year_error,True,True,True,True,True,True,True,True,True,True,True,True

In [52]:
pd.read_sql(query, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '*)\nFROM CAT_2018' at line 1")
[SQL:  SELECT SUM(*)
FROM CAT_2018
]
(Background on this error at: http://sqlalche.me/e/f405)

## Assumption variable

In [ ]:
tot_CAT = # sum of all sums of country
tot_BCN = 11200
assumption_variable = tot_BCN/tot_CAT

In [ ]:
# list of sum of country CAT * assumption_variable=
# lsit of tot_BCN per country

# top 5 coutnries CAT

# low 5 coutnries CAT