In [1]:
import pandas as pd
import numpy as np

## sum total number of tourist per nationality per year
given info - number of tourist per nationaity per month

#### sum the total number of tourists of year

In [14]:
BCN_2018 = pd.read_csv(".\clean_datasets\BCN_2018_CLEAN.csv")
BCN_2018.head()

   Unnamed: 0                              Country   Number    Month
0           0                   Number of visitors  507.318  January
1           1           residents a Espanya         126.214  January
2           2       residents a l'estranger         381.104  January
3           3                           Alemanya     24.885  January
4           4                            Àustria      2.705  January

In [18]:
from sqlalchemy import create_engine
import pymysql

In [19]:
driver = "mysql+pymysql"
user = "root"
password = "Ir0nhack"
ip = "35.192.169.188"
database = "Project_2"

In [20]:
connection_string = f"{driver}://{user}:{password}@{ip}/{database}"

In [21]:
engine = create_engine(connection_string)

In [24]:
query = """ SELECT Country, SUM(Number) AS TOTAL
FROM BCN_2018
GROUP BY Country
ORDER BY TOTAL DESC
LIMIT 5 """

In [25]:
pd.read_sql(query, engine)

                               Country     TOTAL
0                           Lituània    8642.000
1       Nombre de viatgers              7536.457
2                          Luxemburg    7186.000
3                         Eslovàquia    6683.106
4       residents a l'estranger         6543.905